ul.autocomment-tree {background: #000; margin: 0;}
ul.autocomment-tree li {border-top: 1px solid #CCC; margin: 0 10px; background: #000; list-style: none !important; list-style-type: decimal;}
ul.autocomment-tree li ul {margin: 10px 0 0 10px; clear: both;}
ul.autocomment-tree li div {padding: 10px; position: relative;}
ul.autocomment-tree li a.add    {cursor: pointer; text-align: left; border: 1px solid #CCC; padding: 5px; color: #CCC; font-weight: bold;}
ul.autocomment-tree li div.publish {padding: 5px; color: #CCC; font-weight: bold; display: inline;}
ul.autocomment-tree li a.remove {position: absolute; right: 5px; top: 15px; cursor: pointer; text-indent: -10000px; background: url('../images/remove-icon.gif') no-repeat; width: 13px; height: 13px;}

ul.autocomment-tree li textarea {width: 100%; height: 100px; margin-bottom: 10px;}
ul.autocomment-tree li label {display: block; color: #CCC;}
div.autocomment-wrapper {background: #000;}
a.create-tree {cursor: pointer; text-decoration: underline;}
a#add-top-comment {cursor: pointer; color: #FFF; padding: 10px;}
.autocomment-wrapper .actions {margin: 5px 0; padding: 5px;}